.nav-bar {
    position: fixed;
    top: 0px;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #693b3b; /* Light Gray background for the nav bar */
    color:white;
    height:auto;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap:0;
}

.nav-links li {
    padding: 15px 20px;
    margin: 0;
    transition: background-color 0.3s ease;
}

.nav-links li:hover {
    background-color: #999; /* Medium Gray on hover */
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: #333; /* Dark text for good contrast */
    display: block;
}
